{:paths ["src" "resources"]
 :deps {expound/expound {:mvn/version "0.9.0"}
        pjstadig/humane-test-output {:mvn/version "0.11.0"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {}}}}
