{:paths ["src"]
 :aliases
 {:antq {:extra-deps {com.github.liquidz/antq {:mvn/version "2.11.1276"}}
         :main-opts ["-m" "antq.core"]}

  :clj-kondo {:extra-deps {clj-kondo/clj-kondo {:mvn/version "2025.09.22"}}
              :main-opts ["-m" "clj-kondo.main" "--parallel" "--lint"]}

  :cljfmt/check {:extra-deps {dev.weavejester/cljfmt {:mvn/version "0.13.4"}}
                 :main-opts ["-m" "cljfmt.main" "check"]}

  :cljfmt/fix {:extra-deps {dev.weavejester/cljfmt {:mvn/version "0.13.4"}}
               :main-opts ["-m" "cljfmt.main" "fix"]}

  :splint {:extra-deps {io.github.noahtheduke/splint {:mvn/version "1.21.0"}}
           :main-opts ["-m" "noahtheduke.splint"]}}}
