{:paths ["."]
 :aliases
 {:antq {:extra-deps {com.github.liquidz/antq {:mvn/version "2.11.1276"}}
         :main-opts ["-m" "antq.core"]}

  :clj-kondo {:extra-deps {clj-kondo/clj-kondo {:mvn/version "2025.09.22"}}
              :main-opts ["-m" "clj-kondo.main" "--parallel" "--lint"]}

  :cljfmt/check {:extra-deps {dev.weavejester/cljfmt {:mvn/version "0.13.3"}}
                 :main-opts ["-m" "cljfmt.main" "check"]}

  :cljfmt/fix {:extra-deps {dev.weavejester/cljfmt {:mvn/version "0.13.3"}}
               :main-opts ["-m" "cljfmt.main" "fix"]}

  :dev {:extra-paths ["development/src"]
        :extra-deps {criterium/criterium {:mvn/version "0.4.6"}
                     io.github.tonsky/clj-reload {:mvn/version "1.0.0"}
                     org.clojure/clojure {:mvn/version "1.12.2"}

                     poly/graphql-api {:local/root "bases/graphql-api"}
                     poly/user {:local/root "components/user"}
                     poly/utils {:local/root "components/utils"}
                     poly/test-utils {:local/root "components/test-utils"}}}

  :poly {:main-opts ["-m" "polylith.clj.core.poly-cli.core"]
         :extra-deps {polylith/clj-poly {:mvn/version "0.3.0"}}}

  :splint {:extra-deps {io.github.noahtheduke/splint {:mvn/version "1.21.0"}}
           :main-opts ["-m" "noahtheduke.splint"]}

  :test {:extra-paths ["projects/ions-compute/test"
                       "projects/ions-graphql-api/test"]}}}
